env/
.env
/.venv
/test
pytest.ini
/.vscode
/__pycache__
/funcs/__pycache__
/funcs/normalizacion/__pycache__
/resultados_del_escaneo
/routes/__pycache__
/service/__pycache__
/archivos_spacy
/funcs/nlp_extractors/__pycache__
